li{
    color: red;p{color:royalblue;} ;
}
image{
    border-style: inset ; border-color: red;
}
h1{
    color: red;
}
p{
    color: royalblue;
}
body{
    background-color:burlywood;

}
h3{
    color: gold;
}
