li{
    color: red;p{color:royalblue;} ;
}
image{
    border-style: inset ; border-color: red;
}
h1{
    color: black;
}
p{
    color: royalblue;
}
body{
    background-color:burlywood;

}
h3{
    color:black;
}
img{
    border-style: solid;
    border-color: black;

    
}
.style-img{
    margin-left: 450px; ;
}
