header {
    text-align: center;
}
body{
    text-align: center;
    background-color:burlywood ;
    width: 30%;
    height: 30%;
    margin-left: 35%;
}
img {
    border-style: solid;
    border-color: black;
}
.style-1{
    background-color:aqua;
    text-align: center;
    text-align: left;
}

table{
    width: 100%;
    border-collapse: collapse;
    margin-left: -35px;
    text-align: left;
}
td{
    border-bottom: 2px solid black;
}
.style-4{
    text-align: left;
}
.style-2,.style-3{
    border-bottom: 2px solid black;
    text-align: left;
}
h1{
    text-align: left;
}